@import url("custom.css");

#horizontal-menu {
	position: relative;
	margin-top: -34px;
}

.sidemenu-holder .side-menu nav .nav>li>.mega-menu {
    padding: 3px 0;
    min-width: 235px;
}

.sidemenu-holder .side-menu nav .nav>li .yamm-content li:last-child {
	padding: 5px 0 !important;
    border-bottom: 1px solid #e0e0e0 !important;
    -webkit-transition: all .3s ease !important;
    -moz-transition: all .3s ease !important;
    -o-transition: all .3s ease !important;
    transition: all .3s ease !important;
}

#top-megamenu-nav .navbar-nav>li>a {
    text-transform: none !important;
    font-weight: bold !important;
    padding: 18px 8px !important;
}

.megamenu-vertical .yamm-content li {
    padding: 5px 0 !important;
    border-bottom: 1px solid #e0e0e0 !important;
    -webkit-transition: all .3s ease !important;
    -moz-transition: all .3s ease !important;
    -o-transition: all .3s ease !important;
    transition: all .3s ease !important;
}

.list-product-img{
    height: 186px !important;
    margin-left: auto;
    margin-right: auto;
}

.myClass {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown-toggle1:hover .myClass {
    display: block;
}

#single-product .single-product-gallery-item img {
    width: auto !important;
}

.priceSign{
    font-size: 12px;
}

.on-sale-product-img {
    margin-left: auto;
    margin-right: auto;
}

.thumb-holder {
    height: auto !important;
}

.le-button {
    text-transform: none !important;
}

.section-title {
    text-transform: none !important;   
}

#footer h2 {
    text-transform: none !important;      
}

.btn-add-to-wishlist {
    text-transform: none !important;         
}

.carousel-holder .title-nav h1, .carousel-holder .title-nav h2 {
    text-transform: none !important;   
}

.btn-add-to-compare {
    text-transform: none !important;      
}

.availability .available {
    text-transform: none !important;      
}

h2 {
    text-transform: none !important;         
}

.tabled-data li label {
    text-transform: none !important;            
}

#cart-page .widget .buttons-holder .simple-link {
    text-transform: none !important;               
}

.h1, h1 {
    text-transform: none !important;                  
}

/* On hover show menu */
.dropdown-menu .sub-menu {
    left: 100% !important;
    position: absolute !important;
    top: 0 !important;
    visibility: hidden !important;
    margin-top: -1px !important;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible !important;
}

.dropdown-menu-hover:hover .dropdown-menu {
    display: block !important;
}

#top-mega-nav .dropdown-menu, .inline .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0 !important;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent !important;
    border-left: none !important;
    border-right: 7px solid rgba(0, 0, 0, 0.2) !important;
    border-top: 7px solid transparent !important;
    left: -7px !important;
    top: 10px !important;
}

.navbar .sub-menu:after {
    border-top: 6px solid transparent !important;
    border-left: none !important;
    border-right: 6px solid #fff !important;
    border-bottom: 6px solid transparent !important;
    left: 10px !important;
    top: 11px !important;
    left: -6px !important;
}

/*end on hover*/

.main-category-item {
    position: relative;
}

.subMenu {
    min-width: 235px;
    position: absolute;
}

#owl-recently-viewed-my .owl-wrapper-outer {
    height: 370px !important;
}

.social-icons, h3 {
    text-transform: none !important;                  
}

.copyright {
    text-transform: none !important;   
}

header .top-cart-row .wishlist-compare-holder {
    margin: 0 !important;
}

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.star-rating .star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}

.filledStar {
    color: #fd0 !important;
}

.starReadOnly {
    cursor: auto !important;   
}

.availability .not-available {
    text-transform: none !important; 
}

.order-by {
    width: 187px !important;
}

.order-by-1 {
    width: 110px !important;   
}

/* Login */
.nav-user-account {
    position: relative;
    float: left;
}

.user-account-info {
    padding: 11px 10px 6px 45px;
}

.user-account-info {
    position: relative;
    border: 1px solid transparent;
    border-bottom: 0 none;
    -webkit-tap-highlight-color: transparent;
}

.user-account-info {
    width: 260px;
    top: 8px;
    left: 7px;
    background-image: url("/bower_components/assets/images/avatar-black.png");
    background-repeat: no-repeat;
}

.user-account-info {
    content: '';
}

.user-account-info .account-unsigned {
    display: block;
    color: #f60;
    height: 18px;
    line-height: 18px;
}

.hm-right3 {
    font-weight: 700;
    color: #333;
}

.hm-right2 {
    color: #333;
}

.user-account-info .account-unsigned .ua-line {
    margin: 0 5px;
    color: #e9e9e9;
}

.user-account-inner {
    margin-top: -7px;
}

.user-account-inner-loged {
    margin-top: -15px;
}

/* Logged User options */
.flyout-quick-entry li a {
    background-color: #e8e8e8;
}

.flyout-quick-entry li a:hover {
    background-color: #ccc;
    text-decoration: none;
    color: rgb(89, 178, 16);
}

.flyout-quick-entry li a {
    display: block;
    padding: 6px 0 6px 20px;
    line-height: 22px;
    color: #333;
}

.hm-right a {
    color: #333;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #f9f9f9;
    min-width: 260px;
    min-height:100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    left: 100%;
    transform: translateX(-100%);
    z-index: 999;
}

.user-account-info:hover {
    border-color: #ccc;
    box-shadow: 2px -2px 2px #ccc;
    z-index: 13;

    background-image: url("/bower_components/assets/images/avatar-green.png");
    background-repeat: no-repeat;
}

.user-account-info:hover .dropdown-content {
    display: block;
}

.flyout-user-signout {
    margin: 15px 20px 15px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 700;
}

/* Loading Bar */
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}
.loading-bar {
  display: inline-block;
  width: 4px;
  height: 18px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
  background-color: #3498db;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #c0392b;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #f1c40f;
  animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  background-color: #27ae60;
  animation-delay: .27s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}