<div class="wrapper">
    <div class="no-padding-bottom header-alt" id="horizontal-menu">
        <div ng-include src="'/views/partials/horizontal_menu.html'"></div>
    </div>

    <!-- ========================================= CONTENT ========================================= -->
    <cart-checkout></cart-checkout>
    <!-- ========================================= CONTENT : END ========================================= -->		
</div><!-- /.wrapper -->

<!-- JavaScripts placed at the end of the document so the pages load faster -->
<script src="../bower_components/../bower_components/assets/js/jquery-1.10.2.min.js.pagespeed.jm.ZzSiN_5Whq.js"></script>

<script>eval(mod_pagespeed_6ealB$sFbN);</script>

<script>eval(mod_pagespeed_U6_dTu8Vaj);</script>
