<div class="wrapper">
    <div class="animate-dropdown"><!-- ========================================= BREADCRUMB ========================================= -->
        <div id="top-mega-nav">
            <div class="container">
                <nav>
                    <ul class="inline">
                        <li class="dropdown le-dropdown">
                            <a href="" class="dropdown-toggle" data-target="category-menu" data-toggle="dropdown">
                                <i class="fa fa-list"></i>ГЛАВНО МЕНИ
                            </a>
                            
                            <list-products-categories class="dropdown-menu-hover dropdown-menu"></list-products-categories>

                        </li>
                    </ul><!-- /.inline -->
                </nav>
            </div><!-- /.container -->
        </div><!-- /#top-mega-nav -->
        <!-- ========================================= BREADCRUMB : END ========================================= -->
    </div>	
    <section id="category-grid">
        <div class="container">
            <!-- ========================================= SIDEBAR ========================================= -->
            <div class="col-xs-12 col-sm-3 no-margin sidebar narrow">
                <!-- ========================================= PRODUCT FILTER ========================================= -->
                <div class="widget">
                    <h1>Филтри</h1>
                    <div class="body bordered">
                        
                        <filter-by-brands category-slug="vm.categorySlug"></filter-by-brands>
                        
                        <!-- <div class="price-filter">
                            <h2>Филтри</h2>
                            <hr>
                            <div class="price-range-holder">
                                <input type="text" class="price-slider" value="">
                                <span class="min-max">
                                    Цена: 100-99 000 ден.
                                </span>
                            </div>
                        </div><!-- /.price-filter -->
                    </div><!-- /.body -->
                </div><!-- /.widget -->
                <!-- ========================================= PRODUCT FILTER : END ========================================= -->
                <products-on-sale-left-widget></products-on-sale-left-widget>

                <div class="widget">
                    <div class="simple-banner">
                        <a href=""><img alt="" class="img-responsive"/></a>
                    </div>
                </div>
                <!-- ========================================= FEATURED PRODUCTS ========================================= -->
                <recomended-products-left-widget></recomended-products-left-widget>
                <!-- ========================================= FEATURED PRODUCTS : END ========================================= -->
            </div>
            <!-- ========================================= SIDEBAR : END ========================================= -->

            <!-- ========================================= CONTENT ========================================= -->
            <div class="col-xs-12 col-sm-9 no-margin wide sidebar">
                <section id="gaming">
                    <div class="grid-list-products">
                        <h2 class="section-title">{{ vm.categoryName.name }}</h2>
                        <div class="control-bar">
                            <products-per-page category-slug="vm.categorySlug"></products-per-page>

                            <sorting-products category-slug="vm.categorySlug"></sorting-products>
                        </div><!-- /.control-bar -->

                        <div class="tab-content">
                            <div id="grid-view" class="products-grid fade tab-pane in active">
                                <div class="product-grid-holder">
                                    <div class="row no-margin">
                                        
                                        <div>
                                            <tab-product my-class="col-xs-12 col-sm-4" products="$root.productsInCategory"></tab-product>
                                        </div>
                                    </div><!-- /.row -->
                                </div><!-- /.product-grid-holder -->

                                <div class="pagination-holder">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 text-left">
                                            <ul uib-pagination total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="vm.pageChanged()" max-size="vm.maxSize" class="pagination-sm" boundary-links="true" num-pages="vm.numPages" items-per-page="vm.itemsPerPage" force-ellipses="true"></ul>
                                        </div>
                                    </div><!-- /.row -->
                                </div><!-- /.pagination-holder -->
                            </div><!-- /.products-grid #grid-view -->
                        </div><!-- /.tab-content -->
                    </div><!-- /.grid-list-products -->
                </section><!-- /#gaming -->
            </div><!-- /.col -->
            <!-- ========================================= CONTENT : END ========================================= -->
        </div><!-- /.container -->
    </section><!-- /#category-grid -->	
</div><!-- /.wrapper -->

<!-- LOADING BAR -->
<div class="loading" ng-show="vm.loading">
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>

    <div class="modal-backdrop fade in"></div>
</div>

<!-- JavaScripts placed at the end of the document so the pages load faster -->
<script>eval(mod_pagespeed_6ealB$sFbN);</script>
<script>eval(mod_pagespeed_t6jjfK8ypo);</script>

<script>eval(mod_pagespeed_Z211ARU5f8);</script>
<script>eval(mod_pagespeed_U6_dTu8Vaj);</script>