<!-- LOADING BAR -->
<div class="loading" ng-show="vm.loading">
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>

    <div class="modal-backdrop fade in"></div>
</div>

<div class="wrapper">
     <div class="no-padding-bottom header-alt" id="horizontal-menu">
        <div ng-include src="'/views/partials/horizontal_menu.html'"></div>
    </div>
    
    <div id="single-product">
        <div class="container">
            <div class="no-margin col-xs-12 col-sm-6 col-md-5 gallery-holder">
                <div class="product-item-holder size-big single-product-gallery small-gallery">
                    <data-owl-carousel id="owl-single-product-my" class="owl-carousel brands-carousel" data-options="{pagination : false, mouseDrag : false, touchDrag : false, singleItem : true,}">

                        <div owl-carousel-item="" ng-repeat="image in vm.productInfo.images" class="single-product-gallery-item" id="slide{{ image.id }}">
                            <a data-rel="prettyphoto" href="images/products/product-gallery-01.html">
                                <img class="img-responsive" style="height: 325px;" src="http://localhost:8000/{{ image.url }}"/>
                            </a>
                        </div><!-- /.single-product-gallery-item -->

                    </data-owl-carousel>

                    <div class="single-product-gallery-thumbs gallery-thumbs">
                        <data-owl-carousel id="owl-single-product-thumbnails-my" class="owl-carousel my-class-owl-thumbnail" data-options="{pagination:false, responsiveRefreshRate : 100,}">
                            <li owl-carousel-item="" ng-repeat="image in vm.productInfo.images" class="carousel-item">
                                <a class="horizontal-thumb" href="">
                                    <img style="height: 67px;" alt="" src="http://localhost:8000/{{ image.url }}"/>
                                </a>
                            </li><!-- /.carousel-item -->
                        </data-owl-carousel>

                        <div class="nav-holder left hidden-xs">
                            <a class="prev-btn slider-prev" data-target="#owl-single-product-thumbnails" href=""></a>
                        </div><!-- /.nav-holder -->
                        <div class="nav-holder right hidden-xs">
                            <a class="next-btn slider-next" data-target="#owl-single-product-thumbnails" href=""></a>
                        </div><!-- /.nav-holder -->
                    </div><!-- /.gallery-thumbs -->
                </div><!-- /.single-product-gallery -->
            </div><!-- /.gallery-holder -->
            <div class="no-margin col-xs-12 col-sm-7 body-holder">
                <div class="body">
                    <div class="star-holder inline">
                        <div class="star">
                            <!-- Tuka ke treba da se prikaze rejtingot na produktot!!! -->
                            <product-rating product="vm.productInfo"></product-rating>
                        </div>
                    </div>
                    
                    <div ng-if="vm.productInfo.available_at_warehouses[0].pivot.num_of_items > vm.productInfo.available_at_warehouses[0].pivot.sold_items" class="availability"><label>Достапност:</label><span class="available">На залиха</span></div>

                    <div ng-if="vm.productInfo.available_at_warehouses[0].pivot.num_of_items <= vm.productInfo.available_at_warehouses[0].pivot.sold_items" class="availability"><label>Достапност:</label><span class="not-available">Не е на залиха</span></div>

                    <div ng-if="vm.productInfo.available_at_warehouses.length <= 0" class="availability"><label>Достапност:</label><span class="not-available">Не е на залиха</span></div>

                    <div class="title"><a>{{ vm.productInfo.name }}</a></div>
                    <div class="brand">sony</div>
                    <div class="social-row">
                        <span class="st_facebook_hcount"></span>
                        <span class="st_twitter_hcount"></span>
                        <span class="st_pinterest_hcount"></span>
                    </div>
                    <add-to-wish-list class="buttons-holder" product="vm.productInfo"></add-to-wish-list>
                    <div class="excerpt">
                        <p>{{ vm.productInfo.description }}</p>
                    </div>
                    <div class="prices">
                        <div ng-hide="vm.productInfo.on_sale_products.length > 0" class="price-current">{{ vm.productInfo.price }} ден.</div>

                        <div ng-show="vm.productInfo.on_sale_products.length > 0" class="price-current">{{ vm.productInfo.on_sale_products[0].pivot.price }} ден.</div>

                        <div ng-show="vm.productInfo.on_sale_products.length > 0" class="price-prev">{{ vm.productInfo.price }} ден.</div>
                    </div>
                    <div class="qnt-holder">
                        <div class="le-quantity">
                            <form>
                                <a class="minus" href="#reduce"></a>
                                <input name="quantity" readonly type="text" value="1"/>
                                <a class="plus" href="#add"></a>
                            </form>
                        </div>
                        
                        <add-to-shopping-cart type="huge" product="vm.productInfo"></add-to-shopping-cart>
                    </div><!-- /.qnt-holder -->
                </div><!-- /.body -->
            </div><!-- /.body-holder -->
        </div><!-- /.container -->
    </div><!-- /.single-product -->
    <!-- ========================================= SINGLE PRODUCT TAB ========================================= -->
    <section id="single-product-tab">
        <div class="container">
            <div class="tab-holder">
                <ul class="nav nav-tabs simple">
                    <li class="active"><a href="" data-target="#specifications" data-toggle="tab">Спецификации</a></li>
                    <li><a href="" data-target="#description" data-toggle="tab">Опис</a></li>
                    <li><a href="" data-target="#reviews" data-toggle="tab">Рецензии({{ $root.numOfReviews }})</a></li>
                </ul><!-- /.nav-tabs -->
                <div class="tab-content">
                    <div class="tab-pane active" id="specifications">
                        <p>{{ vm.productInfo.specifications }}</p>
                    </div><!-- /.tab-pane #description -->
                    <div class="tab-pane" id="description">
                        <p>{{ vm.productInfo.description }}</p>
                    </div><!-- /.tab-pane #additional-info -->
                    <div class="tab-pane" id="reviews">
                        <div class="comments">
                            <product-reviews product="vm.productInfo"></product-reviews>
                        </div><!-- /.comments -->
                        <div class="add-review row">
                            <add-product-review product="vm.productInfo"></add-product-review>
                        </div><!-- /.add-review -->
                    </div><!-- /.tab-pane #reviews -->
                </div><!-- /.tab-content -->
            </div><!-- /.tab-holder -->
        </div><!-- /.container -->
    </section><!-- /#single-product-tab -->
    <!-- ========================================= SINGLE PRODUCT TAB : END ========================================= -->
    </div>

    <!-- ========================================= RECENTLY VIEWED ========================================= -->
    <most-visited-products></most-visited-products>
    <!-- ========================================= RECENTLY VIEWED : END ========================================= -->	
</div><!-- /.wrapper -->