<div class="wrapper">
    
    <div class="no-padding-bottom header-alt" id="horizontal-menu">
        <div ng-include src="'/views/partials/horizontal_menu.html'"></div>
    </div>
        <full-shopping-cart></full-shopping-cart>
</div><!-- /.wrapper -->
 