<div class="wrapper">
    
    <div class="no-padding-bottom header-alt" id="horizontal-menu">
        <div ng-include src="'/views/partials/horizontal_menu.html'"></div>
    </div>
    
    <!-- ========================================= MAIN ========================================= -->
    <main id="authentication" class="inner-bottom-md">
        <div class="container">
            
            <!-- LOADING BAR -->
            <div class="loading" ng-show="vm.loading">
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>

                <div class="modal-backdrop fade in"></div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <section class="section sign-in inner-right-xs">
                        <h2 class="bordered">Логирајте се</h2>
                        <p>Добредојдовте на нашата страна</p>
                        <div class="social-auth-buttons">
                            <div class="row">
                                <div class="col-md-3">
                                    <button ng-click="vm.authenticate('facebook')" class="btn-block btn-lg btn btn-facebook">
                                        <i class="fa fa-facebook"></i>Логирај се со Facebook
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <button ng-click="vm.authenticate('twitter')" class="btn-block btn-lg btn btn-twitter">
                                        <i class="fa fa-twitter"></i>Логирај се со Twitter
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <a href="http://localhost:8000/api/github/login">
                                        <button class="btn-block btn-lg btn btn-twitter"><i class="fa fa-twitter"></i>Логирај се со GitHub</button>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <button ng-click="vm.authenticate('google')" class="btn-block btn-lg btn btn-google">
                                        <i class="fa fa-google"></i>Логирај се со Google+
                                    </button>
                                </div>
                            </div>
                        </div>
                        <form role="form" class="login-form cf-style-1">
                            <div class="has-error" ng-show="vm.invalidCredidentials">
                                <span class="help-block">
                                    <strong>{{ vm.invalidError }}</strong>
                                </span>
                            </div>

                            <div class="field-row">
                                <label>Email</label>
                                <input type="email" class="le-input" placeholder="Email" name="email" ng-model="vm.email" required>

                                <div class="has-error" ng-show="vm.emailNotValid">
                                    <span class="help-block">
                                        <strong>{{ vm.mailError }}</strong>
                                    </span>
                                </div>
                            </div><!-- /.field-row -->
                            <div class="field-row">
                                <label>Лозинка</label>
                                <input required type="password" class="le-input" placeholder="Лозинка" name="password" ng-model="vm.password">

                                <div class="has-error" ng-show="vm.passwordRequired">
                                    <span class="help-block">
                                        <strong>{{ vm.passwordError }}</strong>
                                    </span>
                                </div>
                            </div><!-- /.field-row -->
                            <div class="field-row clearfix">
                                <span class="pull-left">
                                    <label class="content-color"><input type="checkbox" class="le-checbox auto-width inline"> <span class="bold">Запамти ме</span></label>
                                </span>
                                <span class="pull-right">
                                    <a href="#" class="content-color bold">Заборавена лозинка?</a>
                                </span>
                            </div>
                            <div class="buttons-holder">
                                <button type="submit" class="le-button huge" ng-click="vm.login(email, password)">Логирај се</button>
                            </div><!-- /.buttons-holder -->
                        </form><!-- /.cf-style-1 -->
                    </section><!-- /.sign-in -->
                </div><!-- /.col -->
                <div class="col-md-6">
                    <section class="section register inner-left-xs">
                        <h2 class="bordered">Креирајте нов профил</h2>
                        <p>Креирајте ваш личен профил на нашата страна, во неколку чекори</p>
                        <register-user></register-user>

                        <h2 class="semi-bold">Регистрирајте се денес за да ги добиете следните придобивки:</h2>
                        <ul class="list-unstyled list-benefits">
                            <li><i class="fa fa-check primary-color"></i>Забрзан процес на плаќање</li>
                            <li><i class="fa fa-check primary-color"></i>Следење на вашата пратка</li>
                            <li><i class="fa fa-check primary-color"></i>Водење белешки на сите ваши плаќања</li>
                        </ul>
                    </section><!-- /.register -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </main><!-- /.authentication -->
    <!-- ========================================= MAIN : END ========================================= --> 
</div><!-- /.wrapper -->
        