<div class="col-sm-8 col-xs-12">
    <div class="new-review-form">
        <h2>Додај рецензија</h2>
        <form id="contact-form" class="contact-form" method="post">
            <div class="field-row star-row">
                <label>Рејтинг</label>
                <div class="star-holder">
                    <star-rating num-of-stars="5"></star-rating>
                </div>
            </div><!-- /.field-row -->
            <div class="field-row">
                <label>Рецензија*</label>
                <textarea required rows="8" class="le-input" name="description" ng-model="vm.description"></textarea>

                <div class="has-error" ng-show="$root.descriptionFieldError">
                    <span class="help-block">
                        <strong>{{ $root.descriptionFieldError }}</strong>
                    </span>
                </div>
            </div><!-- /.field-row -->
            <div class="buttons-holder">
                <button ng-click="vm.postReview()" type="submit" class="le-button huge">Постирај</button>
            </div><!-- /.buttons-holder -->
        </form><!-- /.contact-form -->
    </div><!-- /.new-review-form -->
</div><!-- /.col -->