<div class="animate-dropdown"><!-- ========================================= BREADCRUMB ========================================= -->
                    <div id="breadcrumb-alt">
                        <div class="container">
                            <div class="breadcrumb-nav-holder minimal">
                                <ul>
                                    <li class="dropdown breadcrumb-item">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            shop by department
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Computer Cases &amp; Accessories</a></li>
                                            <li><a href="#">CPUs, Processors</a></li>
                                            <li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
                                            <li><a href="#">Graphics, Video Cards</a></li>
                                            <li><a href="#">Interface, Add-On Cards</a></li>
                                            <li><a href="#">Laptop Replacement Parts</a></li>
                                            <li><a href="#">Memory (RAM)</a></li>
                                            <li><a href="#">Motherboards</a></li>
                                            <li><a href="#">Motherboard &amp; CPU Combos</a></li>
                                            <li><a href="#">Motherboard Components</a></li>
                                        </ul>
                                    </li><!-- /.breadcrumb-item -->
                                    <li class="dropdown breadcrumb-item">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">laptops &amp; computers </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#">PDA</a>
                                                <a href="#">accesories</a>
                                                <a href="#">tablets</a>
                                                <a href="#">games</a>
                                                <a href="#">consoles</a>
                                            </li>
                                        </ul>
                                    </li><!-- /.breadcrumb-item -->
                                    <li class="dropdown breadcrumb-item">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">desktop PC </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#">PDA</a>
                                                <a href="#">accesories</a>
                                                <a href="#">tablets</a>
                                                <a href="#">games</a>
                                                <a href="#">consoles</a>
                                            </li>
                                        </ul>
                                    </li><!-- /.breadcrumb-item -->
                                    <li class="breadcrumb-item">
                                        <a href="#">gaming</a>
                                    </li><!-- /.breadcrumb-item -->
                                    <li class="breadcrumb-item current">
                                        <a href="#">VAIO Fit Laptop - Windows</a>
                                    </li><!-- /.breadcrumb-item -->
                                </ul><!-- /.breadcrumb-nav-holder -->
                            </div>
                        </div><!-- /.container -->
                    </div><!-- /#breadcrumb-alt -->
                    <!-- ========================================= BREADCRUMB : END ========================================= -->