<section id="checkout-page">
    <form action="http://localhost:8000/api/buyProducts" method="POST">
    <!-- <form stripe-form="vm.submitToMyServer()"> -->
        <div class="container">
            <div class="col-xs-12 no-margin">
                <div class="billing-address">
                    <h2 class="border h1">Информации за достава на продуктите</h2>
                    <div class="row field-row">
                        <div class="col-xs-12 col-sm-6">
                            <label>Име*</label>
                            <input class="le-input">
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label>Презиме*</label>
                            <input class="le-input">
                        </div>
                    </div><!-- /.field-row -->
                    <div class="row field-row">
                        <div class="col-xs-12 col-sm-6">
                            <label>Адреса*</label>
                            <input class="le-input" data-placeholder="Улица">
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label>Град</label>
                            <input class="le-input" data-placeholder="Град">
                        </div>
                    </div><!-- /.field-row -->
                    <div class="row field-row">
                        <div class="col-xs-12 col-sm-4">
                            <label>Поштенски код / Zip*</label>
                            <input class="le-input">
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <label>E-mail*</label>
                            <input class="le-input">
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <label>Контакт телефон*</label>
                            <input class="le-input">
                        </div>
                    </div><!-- /.field-row -->
                    <div class="row field-row">
                        <div id="create-account" class="col-xs-12">
                            
                        </div>
                    </div><!-- /.field-row -->
                </div><!-- /.billing-address -->
                <!-- <section id="shipping-address">
                    <h2 class="border h1">shipping address</h2>
                    <form>
                        <div class="row field-row">
                            <div class="col-xs-12">
                                <input class="le-checkbox big" type="checkbox"/>
                                <a class="simple-link bold" href="#">ship to different address?</a>
                            </div>
                        </div>
                    </form>
                </section> --><!-- /#shipping-address -->
                <section id="your-order">
                    <h2 class="border h1">Вашата картичка ги содржи следниве продукти</h2>
                    
                    <div ng-repeat="product in $root.cartItems" class="row no-margin order-item">
                        <div class="col-xs-12 col-sm-1 no-margin">
                            <a class="qty">1 x</a>
                        </div>
                        <div class="col-xs-12 col-sm-9 ">
                            <div class="title">
                                <products-link product="product"></products-link>
                            </div>
                            <div class="brand">{{ product.manifacturer.name }}</div>
                        </div>
                        <div class="col-xs-12 col-sm-2 no-margin">
                            <div class="price">{{ product.price }} ден.</div>
                        </div>

                        <input type="hidden" value="{{ product.slug }}" name="products-list[]">
                    </div><!-- /.order-item -->
                </section><!-- /#your-order -->
                <div id="total-area" class="row no-margin">
                    <div class="col-xs-12 col-lg-4 col-lg-offset-8 no-margin-right">
                        <div id="subtotal-holder">
                            <ul class="tabled-data inverse-bold no-border">
                                <li>
                                    <label>Вкупна сума</label>
                                    <div class="value ">{{ $root.cartPrice }} ден.</div>
                                </li>
                                <li>
                                    <label>Достава</label>
                                    <div class="value">
                                        <div class="radio-group">
                                            <input ng-click="vm.choosenDelivery('free')" class="le-radio" type="radio" name="group1" value="free" checked> <div class="radio-label bold">Бесплатна</div><br>
                                            
                                            <input ng-click="vm.choosenDelivery('local')" class="le-radio" type="radio" name="group1" value="local"> <div class="radio-label">Глобко<br><span class="bold">200 ден.</span></div>
                                        </div>
                                    </div>
                                </li>
                            </ul><!-- /.tabled-data -->
                            <ul id="total-field" class="tabled-data inverse-bold ">
                                <li>
                                    <label>За наплата</label>
                                    <div class="value">{{ $root.totalPrice }} ден.</div>
                                </li>
                            </ul><!-- /.tabled-data -->

                            <input type="hidden" name="sat-token" value="{{ vm.token_satellizer }}">
                        </div><!-- /#subtotal-holder -->
                    </div><!-- /.col -->
                </div><!-- /#total-area -->
                
                <div class="place-order-button">
                    <!-- <button class="le-button big">place order</button> -->

                    <script 
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_dy7NcFSmDKh2cvMkSCCK8Gnb"
                        data-amount=""
                        data-name=""
                        data-description="Информации за вашата картичка"
                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                        data-locale="auto">
                    </script>
                </div><!-- /.place-order-button -->
            </div><!-- /.col -->
        </div><!-- /.container -->
    </form>
</section><!-- /#checkout-page -->