<div class="category-filter">
    <h2>Брендови</h2>
    <hr>
    <ul>
        <li ng-repeat="brand in vm.brandsInCategory">
            <span ng-click="vm.choosenBrand(brand.slug)">
                <input class="le-checkbox" value="{{ brand.slug }}" type="checkbox"/> 
                <i class="fake-box"></i>
                <label>{{ brand.name }}</label> <span class="pull-right"></span>
            </span>
        </li>
    </ul>
</div><!-- /.category-filter -->