<!-- ===================== FOOTER : START =================================== -->
<footer id="footer" class="color-bg">
    <div class="container">
        <div class="row no-margin widgets-row">
            <div class="col-xs-12  col-sm-4 no-margin-left">

                <!-- ============================================================= FEATURED PRODUCTS ============================================================= -->
                <footer-featured-section>
                </footer-featured-section>
                <!-- ============================================================= FEATURED PRODUCTS : END ============================================================= --> 
            </div><!-- /.col -->

            <div class="col-xs-12 col-sm-4 ">

                <!-- ============================================================= ON SALE PRODUCTS ============================================================= -->
                <footer-on-sale-section>
                </footer-on-sale-section>
                <!-- ============================================================= ON SALE PRODUCTS : END ============================================================= --> 
            </div><!-- /.col -->


            <div class="col-xs-12 col-sm-4 ">

                <!-- ============================================================= TOP RATED PRODUCTS ============================================================= -->
                <footer-best-rated-section>
                </footer-best-rated-section>
                <!-- ============================================================= TOP RATED PRODUCTS : END ============================================================= --> 
            </div><!-- /.col -->
        </div><!-- /.widgets-row-->
    </div><!-- /.container -->

    <div class="sub-form-row">
        <div class="container">
        </div><!-- /.container -->
    </div><!-- /.sub-form-row -->

    <div class="link-list-row">
        <div class="container no-padding">
            <div class="col-xs-12 col-md-4 ">

                <!-- ============================================================= CONTACT INFO ============================================================= -->
                <div class="contact-info">
                    <div class="social-icons">
                        <h3>Следете не на</h3>
                        <ul>
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-pinterest"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                            <li><a href="#" class="fa fa-stumbleupon"></a></li>
                            <li><a href="#" class="fa fa-dribbble"></a></li>
                            <li><a href="#" class="fa fa-vk"></a></li>
                        </ul>
                    </div><!-- /.social-icons -->
                </div>
                <!-- ============================================================= CONTACT INFO : END ============================================================= --> 
            </div>

            <div class="col-xs-12 col-md-8 no-margin">
            
            </div>
        </div><!-- /.container -->
    </div><!-- /.link-list-row -->

    <div class="copyright-bar">
        <div class="container">
            <div class="col-xs-12 col-sm-6 no-margin">
                <div class="copyright">
                    &copy; <a href="#/">FINKI E-commerce</a> - Сите права задржани
                </div><!-- /.copyright -->
            </div>
            <div class="col-xs-12 col-sm-6 no-margin">
                <div class="payment-methods ">
                    <ul>
                        <li><img alt="" src="../bower_components/../bower_components/assets/images/payments/xpayment-visa.png.pagespeed.ic.8TKcgXujH9.png"></li>
                        <li><img alt="" src="../bower_components/../bower_components/assets/images/payments/xpayment-master.png.pagespeed.ic.VEsjw4FcFc.png"></li>
                    </ul>
                </div><!-- /.payment-methods -->
            </div>
        </div><!-- /.container -->
    </div><!-- /.copyright-bar -->
</footer><!-- /#footer -->