<h2>{{ vm.footerSectionTitle }}</h2>

<div class="body">
    <ul>
        <li ng-repeat="product in vm.footerSectionProducts">
            <div class="row">
                <div class="col-xs-12 col-sm-9 no-margin">
                    <products-link product="product"></products-link>
                    <div class="price">
                        <div ng-show="product.on_sale_products.length > 0" class="price-prev">{{ product.price }} ден.</div>

                        <div ng-show="product.on_sale_products.length > 0" class="price-current">{{ product.on_sale_products[0].pivot.price }} ден.</div>

                        <div ng-hide="product.on_sale_products.length > 0" class="price-current">{{ product.price }} ден.</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 no-margin">
                    <a href="" class="">
                        <img class="img-responsive" style="height: 73px;" src="http://localhost:8000/{{ product.images[0].url }}" />
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div><!-- /.body -->