<div class="widget">
    <h2>{{ vm.sectionTitle }}</h2>

    <div class="body">
        <ul>
            <li ng-repeat="productData in vm.footerProducts">
                <div class="row">
                    <div class="col-xs-12 col-sm-9 no-margin">
                        <products-link product="productData.product"></products-link>
                        <div class="price">
                            <div ng-show="productData.product.on_sale_products.length > 0" class="price-prev">{{ productData.product.price }} ден.</div>

                            <div ng-show="productData.product.on_sale_products.length > 0" class="price-current">{{ productData.product.on_sale_products[0].pivot.price }} ден.</div>

                            <div ng-hide="productData.product.on_sale_products.length > 0" class="price-current">{{ productData.product.price }} ден.</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 no-margin">
                        <a href="" class="">
                            <img class="img-responsive" style="height: 73px;" src="http://localhost:8000/{{ productData.product.images[0].url }}" />
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div><!-- /.body -->
</div><!-- /.widget -->