<div class="widget">
    <h2>{{ vm.sectionTitle }}</h2>

    <div class="body">
        <ul>
            <li ng-repeat="sale in vm.footerProducts">
                <div class="row">
                    <div class="col-xs-12 col-sm-9 no-margin">
                        <products-link product="sale.product"></products-link>
                        <div class="price">
                            <div class="price-prev">{{ sale.product.price }} ден.</div>
                            <div class="price-current">{{ sale.price }} ден.</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 no-margin">
                        <a href="" class="">
                            <img class="img-responsive" style="height: 73px;" src="http://localhost:8000/{{ sale.product.images[0].url }}" />
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div><!-- /.body -->
</div> <!-- /.widget -->