<section id="cart-page">
    <div class="container">
        <!-- ========================================= CONTENT ========================================= -->
        <div class="col-xs-12 col-md-9 items-holder no-margin">
            <div ng-repeat="product in $root.cartItems" class="row no-margin cart-item">
                <div class="col-xs-12 col-sm-2 no-margin">
                    <a href="#" class="thumb-holder">
                        <img class="lazy" style="width: 73px;" src="http://localhost:8000/{{ product.images[0].url }}"/>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-5 ">
                    <div class="title">
                        <products-link product="product"></products-link>
                    </div>
                    <div class="brand">{{ product.manifacturer.name }}</div>
                </div>
                <div class="col-xs-12 col-sm-3 no-margin">
                    <div class="quantity">
                        <div class="le-quantity">
                            <form>
                                <a class="minus" href="#reduce"></a>
                                <input name="quantity" readonly type="text" value="1"/>
                                <a class="plus" href="#add"></a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 no-margin">
                    <div class="price">
                        {{ product.price }} ден.
                    </div>
                    <remove-from-shopping-cart product="product">
                    </remove-from-shopping-cart>
                </div>
            </div><!-- /.cart-item -->
        </div>
        <!-- ========================================= CONTENT : END ========================================= -->
        <!-- ========================================= SIDEBAR ========================================= -->
        <div class="col-xs-12 col-md-3 no-margin sidebar ">
            <div class="widget cart-summary">
                <h1 class="border">Вашата Картичка</h1>
                <div class="body">
                    <ul class="tabled-data no-border inverse-bold">
                        <li>
                            <label>Вкупна сума</label>
                            <div class="value pull-right">{{ $root.cartPrice }} ден.</div>
                        </li>
                        <li>
                            <label>Достава</label>
                            <div class="value pull-right">Бесплатнo</div>
                        </li>
                    </ul>
                    <ul id="total-price" class="tabled-data inverse-bold no-border">
                        <li>
                            <label>Цена за наплата</label>
                            <div class="value pull-right">{{ $root.cartPrice }} ден.</div>
                        </li>
                    </ul>
                    <div class="buttons-holder">
                        <a class="le-button big" href="#/checkout">Исплата</a>
                        <a class="simple-link block" href="/#">Продолжи со шопинг</a>
                    </div>
                </div>
            </div><!-- /.widget -->
        </div><!-- /.sidebar -->
        <!-- ========================================= SIDEBAR : END ========================================= -->
    </div>
</section>