<div class="main-content" id="main-content">
    <div class="row">
        <div class="col-lg-10 center-block page-wishlist style-cart-page inner-bottom-xs">
            <div class="inner-xs">
                <div class="page-header">
                    <h2 class="page-title">Листа на желби</h2>
                </div>
            </div><!-- /.section-page-title -->
            <div class="items-holder">
                <div ng-repeat="product in $root.wishProducts" class="container-fluid wishlist_table">
                    <div class="row cart-item cart_item" id="yith-wcwl-row-1">
                        <remove-from-wish-list class="col-xs-12 col-sm-1 no-margin" product="product">
                        </remove-from-wish-list>
                        <div class="col-xs-12 col-sm-1 no-margin">
                            <a href="index6c11.html?page=single-product">
                                <img width="73" height="73" class="attachment-shop_thumbnail wp-post-image" src="http://localhost:8000/{{ product.images[0].url }}">
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-4 no-margin">
                            <div class="title">
                                <a href="/#/product/{{ product.slug }}">{{ product.name }}</a>
                            </div><!-- /.title -->
                            <div>
                                <span ng-if="product.available_at_warehouses[0].pivot.num_of_items > product.available_at_warehouses[0].pivot.sold_items" class="label label-success wishlist-in-stock">На залиха</span>

                                <span ng-if="product.available_at_warehouses[0].pivot.num_of_items <= product.available_at_warehouses[0].pivot.sold_items" class="label label-danger wishlist-out-of-stock">Не е на залиха</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 no-margin">
                            <div class="price">
                                <span ng-show="product.on_sale_products.length > 0" class="amount">{{ product.on_sale_products[0].pivot.price }} ден.</span>

                                <span ng-hide="product.on_sale_products.length > 0" class="amount">{{ product.price }} ден.</span>                                
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 no-margin">
                            <div class="text-right">
                                <div ng-if="product.available_at_warehouses[0].pivot.num_of_items > product.available_at_warehouses[0].pivot.sold_items" class="add-cart-button">
                                    <add-to-shopping-cart product="product"></add-to-shopping-cart>
                                </div>

                                <div ng-if="product.available_at_warehouses[0].pivot.num_of_items <= product.available_at_warehouses[0].pivot.sold_items" class="add-cart-button">
                                    <a class="le-button disabled product_type_simple" href="">Додади во кошничката</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.cart-item -->

                </div><!-- /.wishlist-table -->
            </div><!-- /.items-holder -->
        </div><!-- .large-->
    </div><!-- .row-->
</div>