<div class="main-content" id="main-content">
    <div class="container">
        <div class="inner-xs">
            <div class="page-header">
                <h2 class="page-title">
                    Споредба на продукти
                </h2>
            </div>
        </div><!-- /.section-page-title -->
        <div class="table-responsive inner-bottom-xs inner-top-xs">
            <table class="table table-bordered table-striped compare-list">
                <div>
                    <thead>
                        <tr>
                            <td>&nbsp;</td>
                            <td ng-repeat="product in $root.compareList" class="text-center">
                                <div class="image-wrap">
                                    <remove-products-from-compare product="product">
                                    </remove-products-from-compare>
                                    <img class="img-responsive" style="height: 154px;" src="http://localhost:8000/{{ product.images[0].url }}">
                                </div>
                                <p>
                                    <products-link product="product" strong="true"></products-link>
                                </p>
                            </td>
                        </tr>
                        <tr class="tr-add-to-cart">
                            <td>&nbsp;</td>
                            <td ng-repeat="product in $root.compareList" class="text-center">
                                <add-to-shopping-cart product="product">
                                </add-to-shopping-cart>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="comparison-item price">
                            <th>Цена</th>
                            <td ng-repeat="product in $root.compareList" class="comparison-item-cell even product_34">
                                <del ng-show="product.on_sale_products.length > 0">
                                    <span class="amount">{{ product.price }} ден.</span>
                                </del>

                                <ins ng-show="product.on_sale_products.length > 0">
                                    <span class="amount">{{ product.on_sale_products[0].pivot.price }} ден.</span>
                                </ins>

                                <ins ng-hide="product.on_sale_products.length > 0">
                                    <span class="amount">{{ product.price }} ден.</span>
                                </ins>
                            </td>
                        </tr>
                        <tr class="comparison-item description">
                            <th>Опис</th>
                            <td ng-repeat="product in $root.compareList" class="comparison-item-cell even product_34">
                                <p>{{ product.description | limitTo : 200 }}</p>
                            </td>
                        </tr>
                        <tr class="comparison-item stock">
                            <th>Достапност</th>
                            <td ng-repeat="product in $root.compareList" class="comparison-item-cell even product_20">
                                <span ng-if="product.available_at_warehouses[0].pivot.num_of_items > product.available_at_warehouses[0].pivot.sold_items" class="label label-success"><span class="">На залиха</span></span>

                                <span ng-if="product.available_at_warehouses[0].pivot.num_of_items <= product.available_at_warehouses[0].pivot.sold_items" class="label label-danger"><span class="">Не е на залиха</span></span>
                            </td>
                        </tr>
                    </tbody>
                </div>
            </table>
        </div><!-- /.table-responsive -->
    </div><!-- /.container -->
</div>	