<!-- LOADING BAR -->
<div class="loading" ng-show="$root.logOutLoading">
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>

    <div class="modal-backdrop fade in"></div>
</div>

<!-- ============================================================= -->  <!-- ============================================================= HEADER ============================================================= -->
<header>
    <div class="container no-padding">
        <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
            <!-- ============================================================= LOGO ============================================================= -->
            <div class="logo">
                <a href="#/">
                    <!--<img alt="logo" src="../bower_components/assets/images/logo.svg" width="233" height="54"/>-->
                    <!--<object id="sp" type="image/svg+xml" data="../bower_components/assets/images/logo.svg" width="233" height="54"></object>-->
                    <img alt="logo" src="../bower_components/assets/images/logo.png" height="54"/>
                </a>
            </div><!-- /.logo -->
            <!-- ============================================================= LOGO : END ============================================================= --> </div><!-- /.logo-holder -->

        <div class="col-xs-12 col-sm-12 col-md-4 top-search-holder no-margin">
            <div class="contact-row">
                <div class="phone inline">
                    <!-- <i class="fa fa-phone"></i> (+800) 123 456 7890 -->
                </div>
                <div class="contact inline">
                    <!-- <i class="fa fa-envelope"></i> contact@<span class="le-color">oursupport.com</span> -->
                </div>
            </div><!-- /.contact-row -->


            <!-- ============================================================= SEARCH AREA ============================================================= -->
            <div class="search-area">
                <form>
                    <div class="control-group">
                        <input class="search-field" placeholder="Пребарувај продукти..."/>
                        
                        <a class="search-button" href="#"></a>
                    </div>
                </form>
            </div><!-- /.search-area -->
            <!-- ============================================================= SEARCH AREA : END ============================================================= -->  

        </div><!-- /.top-search-holder -->

        <div class="col-xs-12 col-sm-12 col-md-3 top-cart-row no-margin">
            <div class="top-cart-row-container">
                <div class="wishlist-compare-holder">
                    <wish-list-link></wish-list-link>
                    <compare-products-link></compare-products-link>
                </div>

                <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->
                <div class="top-cart-holder dropdown animate-dropdown">
                    <div class="basket">
                        <shopping-basket></shopping-basket>
                    </div><!-- /.basket -->
                </div><!-- /.top-cart-holder -->
            </div><!-- /.top-cart-row-container -->
            <!-- ============================================================= SHOPPING CART DROPDOWN : END ============================================================= -->   
        </div><!-- /.top-cart-row -->
        
        <!-- ====================== LOGIN AND REGISTER PART : START ===================================== -->   
        <div class="col-xs-12 col-sm-12 col-md-2 top-cart-row no-margin" style="padding-left: 0px; position: relative;">
            <div ng-hide="$root.currentUser" class="nav-user-account" id="nav-user-account" data-widget-cid="widget-10">
                <div class="user-account-info" data-role="user-account-top">
                    <div class="user-account-inner hidden-sm">
                        <span class="account-unsigned" data-role="unsigned">
                            <a class="hm-right3" data-role="sign-link" href="#/sign-in">Најави се</a>
                            <span class="ua-line">|</span>
                            <a class="hm-right2" data-role="join-link" href="#/sign-in" rel="nofollow">Регистрирај се</a>
                        </span>
                        <span class="account-name" data-role="username">&nbsp;</span>
                    </div>
                </div>
            </div>

            <div ng-show="$root.currentUser">
                <div class="nav-user-account" id="nav-user-account" data-widget-cid="widget-10">
                    <div class="user-account-info" data-role="user-account-top">
                        <div class="user-account-inner-loged hidden-sm">
                            <span class="account-name" data-role="username">Hi,</span>

                            <div class="myaliexpress" data-role="myaliexpress">
                                <span data-role="myaliexpress-link">{{ $root.currentUser.firstName }} {{ $root.currentUser.lastName }}</span>
                            </div>
                        </div>

                        <div class="dropdown-content" data-role="user-account-main">
                            <div class="flyout-user-signout" data-role="signout-btn">
                                <log-out-user></log-out-user>
                            </div>

                            <ul class="flyout-quick-entry" data-role="quick-entry">
                                <li><a href="#" rel="nofollow">Мои нарачки</a></li>
                                <li><a href="#" rel="nofollow">Профил</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ====================== LOGIN AND REGISTER PART : END ===================================== -->

    </div><!-- /.container -->

</header>
<!-- ============================================================= HEADER : END ============================================================= -->
                