<div>
    <nav id="top-megamenu-nav" class="megamenu-vertical animate-dropdown">
        <div class="yamm navbar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mc-horizontal-menu-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div><!-- /.navbar-header -->
            <div class="collapse navbar-collapse" id="mc-horizontal-menu-collapse">
                <ul class="nav navbar-nav" id="category-menu">
                    <li>
                        <a href="#/">ДOМА</a>
                    </li>

                    <li ng-repeat="category in $root.categories">
                        <a ng-if="category.sub_categories.length == 0" href="/#/category/{{ category.slug }}">{{ category.name }}</a>

                        <a ng-if="category.sub_categories.length > 0" href="" data-target="main-category-1" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>                        
                        <ul ng-if="category.sub_categories.length > 0" class="dropdown-menu" id="category-menu">
                            <li id="main-category-1" class="yamm-content">
                                <!-- <div class="yamm-content"> -->
                                    <div class="row">
                                        <div class="col-md-6" style="min-width: 250px;">
                                            <ul ng-repeat="subCategory in category.sub_categories">
                                                <li>
                                                    <div>
                                                        <a href="/#/category/{{ subCategory.slug }}">{{ subCategory.name }}</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->
                                <!-- </div><!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>
                </ul><!-- /.navbar-nav -->
            </div><!-- /.navbar-collapse -->
        </div><!-- /.navbar -->
    </nav><!-- /.megamenu-vertical -->
</div>