<div class="widget">
    <h1 class="border">{{ vm.sectionTitle }}</h1>
    <ul class="product-list">
        <li ng-repeat="sale in vm.products">
            <div class="row">
                <div class="col-xs-4 col-sm-4 no-margin">
                    <a href="" class="thumb-holder">
                        <img class="img-responsive" style="height: 73px;" src="http://localhost:8000/{{ sale.product.images[0].url }}" />
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 no-margin">
                    <products-link product="sale.product"></products-link>
                    
                    <div class="price">
                        <div class="price-prev">{{ sale.product.price }}</div>
                        <div class="price-current">{{ sale.price }} ден.</div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div><!-- /.widget -->