<ul id="category-menu">
    <li ng-repeat="category in $root.categories" class="main-category-item">
        <a ng-if="category.sub_categories.length > 0" href="" data-target="main-category-1">{{ category.name }}</a>
        
        <a ng-if="category.sub_categories.length <= 0" href="/#/category/{{ category.slug }}" data-target="main-category-1">{{ category.name }}</a>

        <ul ng-if="category.sub_categories.length > 0" class="dropdown-menu sub-menu" id="category-menu">
            <li class="subMenu">
                <div class="row">
                    <div class="col-md-12">
                        <ul ng-repeat="subCategory in category.sub_categories" class="list-unstyled">
                            <li>
                                <a href="/#/category/{{ subCategory.slug }}">{{ subCategory.name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </li><!-- /.menu-item -->
</ul>