<div class="product-item-holder size-big single-product-gallery small-gallery">
    <data-owl-carousel id="owl-single-product-my" class="owl-carousel my-class-owl" data-options="{singleItem : true, slideSpeed : 1000, navigation : false, pagination:false, afterAction : syncPosition, responsiveRefreshRate : 200,}">

        <div owl-carousel-item="" ng-repeat="image in vm.productOnSaleMain.product.images" class="carousel-item">
            <div class="single-product-gallery-item" id="slide{{ image.id }}">
                <a href="images/products/product-gallery-01.html">
                    <img class="img-responsive on-sale-product-img" style="height: 336px;" src="http://localhost:8000/{{ image.url }}"/>
                </a>    
            </div>
        </div><!-- /.carousel-item -->
    </data-owl-carousel>

    <div class="gallery-thumbs clearfix">
        <data-owl-carousel id="owl-single-product-thumbnails-my" class="owl-carousel my-class-owl-thumbnail" data-options="{pagination:false, responsiveRefreshRate : 100,}">

            <li owl-carousel-item="" ng-repeat="image in vm.productOnSaleMain.product.images" class="carousel-item">
                <a class="horizontal-thumb" href="">
                    <img style="height: 67px;" alt="" src="http://localhost:8000/{{ image.url }}"/>
                </a>
            </li><!-- /.carousel-item -->
        </data-owl-carousel>
    </div><!-- /.gallery-thumbs -->

    <div class="body">
        <div class="label-discount clear"></div>
        <div class="title">
            <products-link product="vm.productOnSaleMain.product"></products-link>
        </div>
        
        <div class="brand">{{ vm.productOnSaleMain.product.manifacturer.name }}</div>
    </div>
    <div class="prices text-right">
        <div class="price-current inline">{{ vm.productOnSaleMain.price }} ден.</div>
        
        <add-to-shopping-cart type="big inline" product="vm.productOnSaleMain.product"></add-to-shopping-cart>
    </div>
</div><!-- /.product-item-holder -->