<div>
    <div class="product-grid-holder">
        <!-- Tuka treba da se povika tabProduct komponentata -->
        <tab-product my-class="col-sm-4 col-md-3" products="vm.tabProducts"></tab-product>
    </div>

    <div class="loadmore-holder text-center">
        <a class="btn-loadmore" href="#">
            
        </a>
    </div>
</div>