<div ng-controller="categoriesController">
    <ul id="category-menu" class="dropdown-menu">
        <li ng-repeat="category in categories" class="dropdown le-dropdown">
            <a href="" data-target="main-category-1" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
            
            <ul ng-if="category.sub_categories.length > 0" class="dropdown-menu mega-menu">
                <li id="main-category-1" class="yamm-content">
                    <div class="row">
                        <div class="col-md-12">
                            <ul ng-repeat="subCategory in category.sub_categories" class="list-unstyled">
                                <li>
                                    <a href="/#/category/{{ subCategory.slug }}">{{ subCategory.name }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            asdasd
        </li><!-- /.menu-item -->
    </ul>
</div>