<section id="recently-reviewd" class="fadeInUp">
    <div class="container">
        <div class="carousel-holder hover">
            <div class="title-nav">
                <h2 class="h1">Нај посетувани</h2>
                <div class="nav-holder">
                    <a href="" id="prev1" class="slider-prev btn-prev fa fa-angle-left"></a>
                    <a href="" id="next1" class="slider-next btn-next fa fa-angle-right"></a>
                </div>
            </div><!-- /.title-nav -->

            <data-owl-carousel id="owl-recently-viewed-my" class="owl-carousel product-grid-holder" data-options="{pagination : false, mouseDrag : true, touchDrag : true,}">
              
                <div owl-carousel-most-visited-products="" ng-repeat="product in $root.recentlyVisitedProducts" class="no-margin carousel-item product-item-holder size-small hover">
                    <div class="product-item">
                        <div ng-show="product.on_sale_products.length > 0" class="ribbon red">
                            <span>sale</span>
                        </div>
                        <div class="image">
                            <img class="img-responsive on-sale-product-img" style="height: 143px;" src="http://localhost:8000/{{ product.images[0].url }}"/>
                        </div>
                        <div class="body">
                            <div class="title">
                                <products-link product="product"></products-link>
                            </div>
                            <div class="brand">{{ product.manifacturer.name }}</div>
                        </div>
                        <div class="prices">
                            <div ng-hide="product.on_sale_products.length > 0" class="price-current text-right">{{ product.price }} ден.</div>

                            <div ng-show="product.on_sale_products.length > 0" class="price-current text-right">{{ product.on_sale_products[0].pivot.price }} ден.</div>
                        </div>

                        <div class="hover-area">
                            <div class="add-cart-button">
                                <add-to-shopping-cart product="product"></add-to-shopping-cart>    
                            </div>

                            <add-to-wish-list product="product"></add-to-wish-list>
                        </div>
                    </div><!-- /.product-item -->
                </div><!-- /.product-item-holder -->

            </data-owl-carousel>

        </div><!-- /.carousel-holder -->
    </div><!-- /.container -->
</section><!-- /#recently-reviewd -->