<span>Резултати по-страна:</span>
<div id="item-count" class="le-select order-by-1">
    <select ng-model='vm.itemsPerPage' ng-change="vm.changeItemsPerPage()" ng-options='option.value as option.name for option in vm.options'>
    </select>
</div>