<div ng-repeat="review in $root.productReviews" class="comment-item">
    <div class="row no-margin">
        <div class="col-lg-1 col-xs-12 col-sm-2 no-margin">
            <div class="avatar">
                <img alt="avatar" src="../bower_components/assets//images/xdefault-avatar.jpg.pagespeed.ic.p_Ft6rm2_B.jpg">
            </div><!-- /.avatar -->
        </div><!-- /.col -->
        <div class="col-xs-12 col-lg-11 col-sm-10 no-margin">
            <div class="comment-body">
                <div class="meta-info">
                    <div class="author inline">
                        <a href="" class="bold">{{ review.firstName }} {{ review.lastName }}</a>
                    </div>
                    <div ng-if="review.pivot.rating > 0" class="star-holder inline">
                        
                        <show-rating rating="review.pivot.rating"></show-rating>

                    </div>
                    <div class="date inline pull-right">
                        {{ review.review_date }}
                    </div>
                </div><!-- /.meta-info -->
                <p class="comment-text">
                    {{ review.pivot.description }}
                </p><!-- /.comment-text -->
            </div><!-- /.comment-body -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.comment-item -->