<section id="bestsellers" class="color-bg wow fadeInUp">
    <div class="container">
        <h1 class="section-title">Производи на акција</h1>

        <div class="product-grid-holder medium">
            <div class="col-xs-12 col-md-7 no-margin">
                <div class="row no-margin">
                    <div ng-repeat="sale in vm.productsOnSalePart1" class="col-xs-12 col-sm-4 no-margin product-item-holder size-medium hover">
                        <div class="product-item">
                            <div class="image">
                                <img class="img-responsive on-sale-product-img" style="height: 143px;" src="http://localhost:8000/{{ sale.product.images[0].url }}" />
                            </div>
                            <div class="body">
                                <div class="label-discount clear"></div>
                                <div class="title">
                                    <products-link product="sale.product"></products-link>
                                </div>

                                <div class="brand">{{ sale.product.manifacturer.name }}</div>
                            </div>
                            <div class="prices">
                                <div class="price-prev">{{ sale.product.price }} ден.</div>
                                <div class="price-current">{{ sale.price }} ден.</div>
                            </div>
                            <div class="hover-area">
                                <div class="add-cart-button">
                                    <add-to-shopping-cart product="sale.product"></add-to-shopping-cart>
                                </div>

                                <add-to-wish-list product="sale.product"></add-to-wish-list>
                            </div>
                        </div>
                    </div><!-- /.product-item-holder -->
                </div><!-- /.row -->

                <div class="row no-margin">
                    <div ng-repeat="sale in vm.productsOnSalePart2" class="col-xs-12 col-sm-4 no-margin product-item-holder size-medium hover">
                        <div class="product-item">
                            <div class="image">
                                <img class="img-responsive on-sale-product-img" style="height: 143px;" src="http://localhost:8000/{{ sale.product.images[0].url }}" />
                            </div>
                            <div class="body">
                                <div class="label-discount clear"></div>
                                <div class="title">
                                    <products-link product="sale.product"></products-link>    
                                </div>

                                <div class="brand">{{ sale.product.manifacturer.name }}</div>
                            </div>
                            <div class="prices">
                                <div class="price-prev">{{ sale.product.price }} ден.</div>
                                <div class="price-current">{{ sale.price }} ден.</div>
                            </div>
                            <div class="hover-area">
                                <div class="add-cart-button">
                                    <add-to-shopping-cart product="sale.product"></add-to-shopping-cart>
                                </div>

                                <add-to-wish-list product="sale.product"></add-to-wish-list>
                            </div>
                        </div>
                    </div><!-- /.product-item-holder -->  
                </div><!-- /.row -->
            </div><!-- /.col -->

            <div class="col-xs-12 col-md-5 no-margin">
                <main-product-on-sale></main-product-on-sale>
            </div><!-- /.col -->
        </div><!-- /.product-grid-holder -->
    </div><!-- /.container -->
</section><!-- /#bestsellers -->