<div class="field-row">
    <label>Име</label>
    <input type="text" class="le-input" ng-model="vm.firstName">

    <div class="has-error" ng-show="$root.firstNameFieldError">
        <span class="help-block">
            <strong>{{ $root.firstNameFieldError }}</strong>
        </span>
    </div>
</div><!-- /.field-row -->
<div class="field-row">
    <label>Презиме</label>
    <input type="text" class="le-input" ng-model="vm.lastName">

    <div class="has-error" ng-show="$root.lastNameFieldError">
        <span class="help-block">
            <strong>{{ $root.lastNameFieldError }}</strong>
        </span>
    </div>
</div><!-- /.field-row -->
<div class="field-row">
    <label>Email</label>
    <input type="text" class="le-input" ng-model="vm.email">

    <div class="has-error" ng-show="$root.emailFieldRequired">
        <span class="help-block">
            <strong>{{ $root.emailFieldRequired }}</strong>
        </span>
    </div>

    <div class="has-error" ng-show="$root.emailFieldNotValid">
        <span class="help-block">
            <strong>{{ $root.emailFieldNotValid }}</strong>
        </span>
    </div>

    <div class="has-error" ng-show="$root.emailFieldused">
        <span class="help-block">
            <strong>{{ $root.emailFieldused }}</strong>
        </span>
    </div>
</div><!-- /.field-row -->
<div class="field-row">
    <label>Лозинка</label>
    <input type="password" class="le-input" ng-model="vm.password">

    <div class="has-error" ng-show="$root.passwordFieldRequired">
        <span class="help-block">
            <strong>{{ $root.passwordFieldRequired }}</strong>
        </span>
    </div>

    <div class="has-error" ng-show="$root.passwordFieldLength">
        <span class="help-block">
            <strong>{{ $root.passwordFieldLength }}</strong>
        </span>
    </div>
</div><!-- /.field-row -->
<div class="field-row">
    <label>Повтори ја Лозинката</label>
    <input type="password" class="le-input" ng-model="vm.passwordConfirmation">

    <div class="has-error" ng-show="$root.passwordFieldNotMatch">
        <span class="help-block">
            <strong>{{ $root.passwordFieldNotMatch }}</strong>
        </span>
    </div>

    <div class="has-error" ng-show="$root.passwordConfirmationFieldError">
        <span class="help-block">
            <strong>{{ $root.passwordConfirmationFieldError }}</strong>
        </span>
    </div>
</div><!-- /.field-row -->
<div class="field-row">
    <label>Мобилен број</label>
    <input type="text" class="le-input" ng-model="vm.phoneNum">

    <div class="has-error" ng-show="$root.phoneNumFieldError">
        <span class="help-block">
            <strong>{{ $root.phoneNumFieldError }}</strong>
        </span>
    </div>
</div><!-- /.field-row -->
<div class="field-row">
    <label>Одберете профилна слика</label>
    <input type="file" file-model="vm.photo"/>

    <div class="has-error" ng-show="$root.photoFieldError">
        <span class="help-block">
            <strong>{{ $root.photoFieldError }}</strong>
        </span>
    </div>
</div><!-- /.field-row -->

<div class="buttons-holder">
    <button type="submit" class="le-button huge" ng-click="vm.register()">Регистрирајте се</button>
</div><!-- /.buttons-holder -->