<a class="dropdown-toggle" data-toggle="dropdown" href="" data-target="shopping-basket">
    <div class="basket-item-count">
        <span class="count">{{ $root.cartItems.length }}</span>
        <img src="../bower_components/../bower_components/assets/images/xicon-cart.png.pagespeed.ic.fMbqhzSOtK.png" alt=""/>
    </div>
    <div class="total-price-basket">
        <span class="lbl">Кошничка:</span>
        <span class="total-price">
            <span class="sign priceSign">мкд</span><span class="value">{{ $root.cartPrice }}</span>
        </span>
    </div>
</a>

<ul id="shopping-basket" class="dropdown-menu">
    <li ng-repeat="product in $root.cartItems">
        <div class="basket-item">
            <div class="row">
                <div class="col-xs-4 col-sm-4 no-margin text-center">
                    <div class="thumb">
                        <img alt="" style="height: 73px;" src="http://localhost:8000/{{ product.images[0].url }}"/>
                    </div>
                </div>
                <div class="col-xs-8 col-sm-8 no-margin">
                    <div class="title">{{ product.name | limitTo : 40 }}</div>
                    <div class="price">{{ product.price }} ден.</div>
                </div>
            </div>
            <remove-from-shopping-cart product="product">
            </remove-from-shopping-cart>
        </div>
    </li>

    <li class="checkout">
        <div class="basket-item">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <a href="#/shopping-cart" class="le-button inverse">Моја кошничка</a>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <a href="#/checkout" class="le-button">Исплата</a>
                </div>
            </div>
        </div>
    </li>
</ul>