<span>Сортирај според:</span>
<div id="item-count" class="le-select order-by">
    <select ng-model="vm.orderType" ng-change="vm.sortBy()" ng-options='option.value as option.name for option in vm.options'>
    </select>
</div>

