<div ng-repeat="product in vm.products" class="{{ vm.myClass }} no-margin product-item-holder hover">
    <div class="product-item">
        <div ng-show="product.on_sale_products.length > 0" class="ribbon red">
            <span>sale</span>
        </div>
        <div class="image">
            <img class="img-responsive list-product-img" src="http://localhost:8000/{{ product.images[0].url }}" />
        </div>
        <div class="body">
            <div ng-show="product.on_sale_products.length > 0" class="label-discount green">
                sale
            </div>
            
            <div class="title">
                <products-link product="product"></products-link>
            </div>
            
            <div class="brand">{{ product.manifacturer.name }}</div>
        </div>
        <div class="prices">
            <div ng-show="product.on_sale_products.length > 0" class="price-prev">{{ product.price }} ден.</div>

            <div ng-hide="product.on_sale_products.length > 0" class="price-current pull-right">{{ product.price }} ден.</div>

            <div ng-show="product.on_sale_products.length > 0" class="price-current pull-right">{{ product.on_sale_products[0].pivot.price }} ден.</div>
        </div>
        <div class="hover-area">
            <add-to-shopping-cart product="product"></add-to-shopping-cart>

            <add-to-wish-list product="product"></add-to-wish-list>
        </div>
    </div>
</div>