<section id="top-brands" class="wow fadeInUp">
    <div class="container">
        <div class="carousel-holder">
            <div class="title-nav">
                <h1>Брендови</h1>
                <div class="nav-holder">
                    <a href="" data-target="#owl-brandsMy" class="slider-prev btn-prev fa fa-angle-left"></a>
                    <a href="" data-target="#owl-brandsMy" class="slider-next btn-next fa fa-angle-right"></a>
                </div>
            </div><!-- /.title-nav -->

            <data-owl-carousel id="owl-brandsMy" class="owl-carousel brands-carousel" data-options="{pagination : false, mouseDrag : false, touchDrag : false,}">

                <div owl-carousel-item="" ng-repeat="product in vm.latestBrands" class="carousel-item">
                    <a href="">
                        <img class="img-responsive" style="height: 50px;" src="http://localhost:8000/{{ product.photo_url }}"/>
                    </a>
                </div><!-- /.carousel-item -->

            </data-owl-carousel>

        </div><!-- /.carousel-holder -->
    </div><!-- /.container -->
</section><!-- /#top-brands -->