<!-- ================================== TOP NAVIGATION ================================== -->
<div class="side-menu animate-dropdown">
    <div class="head"><i class="fa fa-list"></i>ГЛАВНО МЕНИ</div>
    <nav class="yamm megamenu-horizontal" role="navigation">
        <vertical-menu-categories></vertical-menu-categories>
    </nav><!-- /.megamenu-horizontal -->
</div><!-- /.side-menu -->
<!-- ================================== TOP NAVIGATION : END ================================== -->