<div>
    <ul class="nav" ng-repeat="category in $root.categories">
        <li class="dropdown menu-item">
            <a ng-if="category.sub_categories.length == 0" ng-href="/#/category/{{ category.slug }}" data-target="main-category-1" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>

            <a ng-if="category.sub_categories.length > 0" href="" data-target="main-category-1" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
            
            <ul ng-if="category.sub_categories.length > 0" class="dropdown-menu mega-menu">
                <li id="main-category-1" class="yamm-content">
                    <div class="row">
                        <div class="col-md-12">
                            <ul ng-repeat="subCategory in category.sub_categories" class="list-unstyled">
                                <li>
                                    <div>
                                        <a href="/#/category/{{ subCategory.slug }}">{{ subCategory.name }}</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </li><!-- /.menu-item -->
    </ul><!-- /.nav -->
</div>